In [58]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['movies_metadata.csv', 'ratings_small.csv', 'keywords.csv', 'links_small.csv', 'links.csv', 'ratings.csv', 'credits.csv']

In [59]:
# Loading the dataset 'movies_metadata.csv'
md = pd.read_csv('../input/movies_metadata.csv')
md.head()

   adult    ...     vote_count
0  False    ...         5415.0
1  False    ...         2413.0
2  False    ...           92.0
3  False    ...           34.0
4  False    ...          173.0

[5 rows x 24 columns]

In [60]:
md['genres'].head()

0    [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1    [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2    [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                       [{'id': 35, 'name': 'Comedy'}]
Name: genres, dtype: object

In [61]:
# Finding the number of null values from the dataset
md.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [62]:
# Converting all the genres names from a dictionary into a list
from ast import literal_eval
md['genres'] = md['genres'].fillna('[]').apply(literal_eval).apply(lambda x : [i['name'] for i in x] if isinstance(x, list) else [])

In [63]:
md['genres'].head()

0     [Animation, Comedy, Family]
1    [Adventure, Fantasy, Family]
2               [Romance, Comedy]
3        [Comedy, Drama, Romance]
4                        [Comedy]
Name: genres, dtype: object

In [64]:
vote_counts = md[md['vote_count'].notnull()]['vote_count'].astype('int')
vote_averages = md[md['vote_average'].notnull()]['vote_average'].astype('int')
# Calculating the mean of vote_averages
C = vote_averages.mean()
C

5.244896612406511

In [65]:
# The minimum votes required to be listed in the chart. We will use 95th percentile as our cutoff.
# i.e. For a movie to feature in the charts, it must have more votes than at least 95% of the movies in the list.
m = vote_counts.quantile(0.95)
m

434.0

In [66]:
md['year'] = pd.to_datetime(md['release_date'], errors = 'coerce').apply(lambda x : str(x).split('-')[0] if x != np.nan else np.nan)

In [67]:
# Movies that qualify our criterion
qualified = md[(md['vote_count'] >= m) & (md['vote_count'].notnull()) & (md['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity', 'genres']]
qualified['vote_count'] = qualified['vote_count'].astype('int')
qualified['vote_average'] = qualified['vote_average'].astype('int')
qualified.shape

(2274, 6)

In [68]:
# Defining the weighted rating function
def weighted_rating(x):
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [69]:
# Creating the weighed rating column
qualified['wr'] = qualified.apply(weighted_rating, axis = 1)

In [70]:
# Sorting the values in the qualified data frame according to weighted rating values
qualified = qualified.sort_values('wr', ascending = False)
qualified.head(10)

                                                   title    ...           wr
15480                                          Inception    ...     7.917588
12481                                    The Dark Knight    ...     7.905871
22879                                       Interstellar    ...     7.897107
2843                                          Fight Club    ...     7.881753
4863   The Lord of the Rings: The Fellowship of the Ring    ...     7.871787
292                                         Pulp Fiction    ...     7.868660
314                             The Shawshank Redemption    ...     7.864000
7000       The Lord of the Rings: The Return of the King    ...     7.861927
351                                         Forrest Gump    ...     7.860656
5814               The Lord of the Rings: The Two Towers    ...     7.851924

[10 rows x 7 columns]

In [71]:
# Defining a function to build charts for particular genres
s = md.apply(lambda x: pd.Series(x['genres']), axis = 1).stack().reset_index(level = 1, drop = True)
s.name = 'genre'
gen_md = md.drop('genres', axis = 1).join(s)

In [72]:
def build_chart(genre, percentile = 0.80):
    df = gen_md[gen_md['genre'] == genre]
    vote_counts = df[df['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = df[df['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(percentile)
    qualified = df[(df['vote_count'] >= m ) & (df['vote_count'].notnull()) & (df['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity']]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    
    qualified['wr'] = qualified.apply(lambda x: (x['vote_count']/(x['vote_count']+m) * x['vote_average']) + (m/(m+x['vote_count']) * C), axis = 1)
    
    qualified = qualified.sort_values('wr', ascending = False)
    
    return qualified

In [73]:
build_chart('Comedy', 0.80).head(15)

                                                   title    ...           wr
10309                        Dilwale Dulhania Le Jayenge    ...     8.643250
351                                         Forrest Gump    ...     7.976863
1225                                  Back to the Future    ...     7.969867
18465                                   The Intouchables    ...     7.965309
22841                           The Grand Budapest Hotel    ...     7.959673
2211                                   Life Is Beautiful    ...     7.948804
732    Dr. Strangelove or: How I Learned to Stop Worr...    ...     7.876772
3342                                        Modern Times    ...     7.800272
883                                     Some Like It Hot    ...     7.790131
1236                                  The Great Dictator    ...     7.770083
882                                        The Apartment    ...     7.665833
3189                                         City Lights    ...     7.630794
31658                                              Feast    ...     7.612747
3192                                             The Kid    ...     7.599703
2906                                         The General    ...     7.388613

[15 rows x 6 columns]